// Title
.page-header {
  border-bottom: transparent;
}

// Jumbotron
.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 5px;
}

// Social
.btn-group {
  span {
    .badge {
      font-size: .8em;
    }
  }
}
