<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.6.1" />
		<customErrors mode="On" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="~/index.html"/>
		</customErrors>
		<globalization
			fileEncoding="utf-8"
			requestEncoding="utf-8"
			responseEncoding="utf-8"
			culture="es-CO"
			uiCulture="es-CO"/>
		<httpCookies httpOnlyCookies="true"/>
		<httpRuntime enableVersionHeader="false"/>
		<machineKey validation="HMACSHA512"/>
		<pages enableViewStateMac="true" enableSessionState="true"/>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="404"/>
			<error statusCode="404" path="~/index.html"/>
		</httpErrors>
		<staticContent>
			<remove fileExtension=".json" />
			<remove fileExtension=".gpi" />
			<remove fileExtension=".kml" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".gpi" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".kml" mimeType="application/octet-stream" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="
					script-src 	'self' https: *.aspnetcdn.com *.maxcdn.com cdnjs.cloudflare.com *.google.com *.twitter.com *.twimg.com *.facebook.com *.facebook.net *.google-analytics.com; 
					font-src 	'self' https: *.bootstrapcdn.com; 
					style-src 	'self' https: 'unsafe-inline' *.bootstrapcdn.com *.twitter.com *.twimg.com; 
					child-src 	'self' https: *.google.com/maps/ *.twitter.com; 
					img-src 	'self' data: https: *.twimg.com *.doubleclick.net *.twitter.com *.fbcdn.net *.google-analytics.com;
					object-src  'none';
					base-uri 	'none';" />
				<add name="Referrer-Policy" value="strict-origin"/>

				<remove name="X-Powered-By"/>

				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Frame-Options" value="DENY" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>